.gradient-custom {
  /* fallback for old browsers */
  background: #f6d365;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right bottom, rgba(246, 211, 101, 1), rgba(253, 160, 133, 1));
}
.small-input {
  border: 0.5px solid #ccc; /* 初始边框 */
  border-radius: 4px; /* 圆角边框 */
  padding: 4px 8px; /* 内边距 */
  opacity: 0.5; /* 边框变淡 */
  transition:
    border-color 0.3s,
    opacity 0.3s; /* 过渡效果 */
  border-width: 0.3px;
  width: 130px;
}

.small-input:focus {
  border-color: #000; /* 获取焦点时的边框颜色 */
  opacity: 1; /* 获取焦点时边框不再变淡 */
}

.right-aligned-button {
  float: right;
}
.button-border {
  border: 1px solid transparent; /* 设置边框透明 */
  background-color: #edc40e; /* 按钮背景颜色 */
  color: white; /* 文字颜色 */
  padding: 0px 3px; /* 内边距 */
  text-align: center; /* 文字居中 */
  display: inline-block; /* 使按钮成为内联块级元素 */
  font-size: 16px; /* 字体大小 */
  cursor: pointer; /* 鼠标光标变为指针形状 */
  border-radius: 3px; /* 圆角半径 */
  transition: 0.3s; /* 过渡动画 */
}

.rounded-box {
  border: 1px solid #000;
  padding: 10px;
  border-radius: 15px; /* 设置border-radius */
}
